@import-normalize; /* bring in normalize.css styles */

/* :root {

} */

@font-face {
  font-family: 'Barlow Black';
  src: url('./assets/fonts/Barlow-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Play Regular', sans-serif;
  src: url('./assets/fonts/Play-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play Bold', sans-serif;
  src: url('./assets/fonts/Play-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Play Regular', sans-serif;
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://res.cloudinary.com/dk0rzgyzj/image/upload/v1700334305/portfolio-bg_1_gephu8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

body.modalIsOpen {
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
